* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: white;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    #root {
        background-color: black;
        height: 100%;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}